# Environment files
*.env
!.env.example

# Dependencies
node_modules/

# Uploads
backend/uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Backups
*.bak
backup/

# Temporary Git files
.git_tmp_node_files.txt
